body {
 background: #262626;
  font-family: Arial, sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 100px;
  text-align: center;
}

body a {
  background: #FFF; 
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  padding: 20px 30px;
  border-radius: 10px;
  color: #000;
  border: 1px #FFF solid;
}

body a:hover {
  background: #262626;
  border: 1px #FFF solid;
  color: #FFF;
}



